[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
requests-oauthlib = "*"
oauthlib = "*"
setuptools = "*"
selenium = "*"
pycairo = "*"
pygobject = "*"
html2text = "*"
