label, entry{
    text-shadow: none;
}

entry{
    border-image:none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
}
entry:focus{
    border-image:none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

button{
    padding: 5px 50px;
}

combobox, combobox button {
    -gtk-icon-effect: none;
    -gtk-icon-source: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    outline: none;
    border-image-width: 0;
}


.login_version_label{
    color: yellow;
    padding: 10px 15px;
    color: rgb(127,127,127);
}